<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//use.edgefonts.net/lobster-two.js"></script>

  <style>
    p.heading {
      font-family: lobster-two, cursive;
      font-size: 32px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iLove My City</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/london">London</a></li>
      <li><a href="/paris">Paris</a></li>
      <li><a href="/madrid">Madrid</a></li>
      <li><a href="/newyork">New York</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <p align="center" class="heading">We believe that every city have something to say!</p>
  <div class="row">
    <div class="col-sm-12">
      <img src="images/home.jpg"></img>
    </div>
  </div>
</div>

</body>
</html>
